nav {
  width: 100%;
  height: max-content;
  padding-left: 5px;
  display: flex;
  justify-content: start;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  
}

.nav .logo{
    width: max-content;
    justify-content: center;
    padding: 5px;
    /* color: white; */
}
